#faq_container {
  width: 100%;
  padding-bottom: 50px;
}
.heading h1 {
  font-size: 40px;
  padding-bottom: 1.3rem;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    94.32deg,
    #a96a14,
    #e6a64d 26.87%,
    #ffe891 63.85%,
    #bb842a
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  text-align: center;
}
.faq_question {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 40px 70px;
}
.faq_box {
  width: 48%;
  margin: 20px auto;
}
.faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.faq-title h2 {
  font-size: 1rem;
}
.faq-dec p {
  font-size: 1.1rem;
  color: #fff;
}
.faq-title i {
  font-size: 1rem;
  color: #fff;
  padding-right: 20px;
}
.faq-dec {
  padding: 10px;
  padding-bottom: 0;
  color: #fff;
}
/* ============================ responsive ==================================== */

@media (max-width:920px) {

  .faq_box {
    width: 100%;
    margin: 20px auto;
  }
  #faq_container {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 50px;
  }
}

@media (max-width:752px) {


  .faq_question {
    padding: 20px;
  }
  .faq-title h2 {
    font-size: 14px;
  }
  .faq-title i {
    font-size: 1rem;
    color: #fff;
    padding-right: 0px;
  }
  .faq-dec p {
    font-size: 13px;
    color: #fff;
  }
}


