header {
  width: 100%;
  height: 100vh;
  background: url("https://pokerton.io/assets/images/banner/banner-bg-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #content h1 {
  font-size: 55px;
  font-weight: 800;
  padding-bottom: 2rem;
  color: #5f259f;
}
header #content p {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 2rem;
}
header #content .home_btn a {
  background-color: #5f259f;
  padding: 1rem 2.3rem;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1rem;
  color: #fff;
  transition: all 300ms ease;
  display: flex;
  align-items: center;
  width: 130px;
  box-shadow: 0 0 15px #5f259f;
}
header #content .home_btn i {
  font-size: 1.3rem;
  padding-right: 0.5rem;
}
header #image {
  width: 400px;
  height: 400px;
  margin-right: 60px;
}
header #image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.social-media {
  position: absolute;
  left: 24px;
  z-index: 99;
}
.social-media ul {
  list-style: none;
  position: relative;
}
.social-media ul li {
  margin-bottom: 1.5rem;
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(231.25deg, #150e29 -0.21%, #5f259f 72.26%);
  border-radius: 10px;
}
.social-media ul li:last-child {
  margin-bottom: 0;
}
.social-media::before {
  content: "";
  width: 4px;
  height: 60px;
  position: absolute;
  background-color: #5f259f;
  left: 50%;
  top: -80px;
}
.social-media::after {
  content: "";
  width: 4px;
  height: 60px;
  position: absolute;
  background-color: #5f259f;
  left: 50%;
  bottom: -80px;
}
.social-media ul li a {
  color: #fff;
  font-size: 22px;
  display: block;
}
/* .slider {
  width:100%;
  margin: auto;
  height: 800px;
  overflow: hidden;
  border-radius: 20px;
  height: 100%;
} */
.slider {
  width: 85%;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}
.slider img {
  width: 100%;
  height: 100%;
  border: 4px solid #5f259f;
  border-radius: 20px;
  display: block;
}
#polygon {
  margin-top: 80px;
}
.slider .desktop {
  display: block;
}
.slider .mobile {
  display: none;
}
#polygon .desktop {
  display: block;
}
#polygon .mobile {
  display: none;
}
/* ============================= Responsive =========================== */
@media (max-width: 920px) {
  header {
    height: 100%;
    margin-top: 90px;
  }
  .slider {
    width: 95%;
    height: 100%;
  }
  .slider img {
    object-fit: cover;
  }
  .social-media {
    display: none;
  }
  .slider .desktop {
    display: none;
  }
  .slider .mobile {
    display: block;
  }

  #polygon {
    margin-top: 50px;
  }
}
@media (max-width: 752px) {
  .slider video {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 470px) {
  #polygon .desktop {
    display: none;
  }
  #polygon .mobile {
    display: block;
  }
}
