#footer {
  width: 100%;
  display: flex;
  border-top: 1px double #fff;
  justify-content: space-between;
  color: #fff;
  padding: 60px;
  position: relative;
  overflow: hidden;
  gap: 1rem;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.last__footer {
  padding: 30px 60px;
}

.last__footer p {
  color: grey;
}
#footer .btn__service a {
  margin: 0;
  margin-top: 1rem;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 0 0 10px #eee;
}

#footer::after {
  content: "";
  width: 90%;
  height: 1px;
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 20px;
}

.left__content {
  width: 30%;
  color: #dadada;
}

#social {
  display: flex;
  margin: 30px auto;
  gap: 1rem;
}

#social li a {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

#social li a:hover {
  background-color: #fff;
}

#social li a:hover i {
  color: #000;
}

#social li a i {
  color: #fff;
}

.center__content {
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.center__content ul h2 {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}
.center__content ul li {
  margin-bottom: 7px;
}
.center__content ul li a {
  color: #dadada;
  transition: all 300ms ease-in-out;
}

.center__content ul li a:hover {
  color: #fff;
}

.right__content {
  width: 30%;
  padding: 0 2rem;
}

.right__content input {
  border: none;
  outline: none;
  display: block;
  background-color: #201031;
  width: 100%;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.right__content a {
  width: 90%;
  color: #fff;
  display: block;
  border: 1px solid grey;
  outline: none;
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  transition: all 300ms ease-in;
}
.right__content a:hover {
  background-color: #ffffffad;
  color: #000;
  font-weight: 900;
}

.subs__content {
  color: #dadada;
}

/* ============================ Responsive ======================= */
@media (max-width: 1140px) {
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .left__content {
    width: 100%;
    color: #dadada;
  }

  .center__content {
    width: 100%;
    flex-direction: column;
  }

  .right__content {
    width: 100%;
    padding: 0;
  }

  #footer {
    padding: 50px 30px;
  }

  #footer {
    margin-top: 40px;
  }
  .last__footer {
    padding: 30px 30px;
  }

  .last__footer p {
    color: grey;
    font-size: 0.8rem;
  }
  .last__footer {
    margin-bottom: 90px;
  }
}

@media (max-width: 450px) {
  #social li a {
    width: 32px;
    height: 32px;
  }
}
